$twitch-color: #6441A4;
$online: #29FEE0;
$offline: #FF6063;
$all: #FAE840;
$text-color: #FDFDFD;
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

* {font-family: Comfortaa, Helvetica, sans-serif;}
body {background-color: #2D2E40 !important;}

.header {
  background-color: #3D3D55;
  border-radius: 5px;
  @include box-shadow(0 1px 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1));
  max-width: 600px;
  margin: 1em;
  padding: 0 10px !important;
  .heading {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .logo {
      color: $text-color;
      flex-grow: 0;
      font-size: 40px;
      height: 30px;
      margin: 0.25em 0.45em 0 0.2em;
    }
    input {
      background: #454662;
      border: none;
      border-radius: 3px;
      color: $text-color;
      flex-grow: 2;
      font-size: 15px;
      height: 40px;
      margin: .5em 0;
      padding: 0 0.8em;
    }
    span {
      color: white;
      right: 15px;
      top: 18px;
      position: absolute;
    }
  }
  .availability {
    display: flex;
    margin-top: 0.5em;
    padding: 0;
      button {
        background: none;
        border: none;
        color: $text-color;
        flex: 1 0 110px;
        height: 2em;
        padding-bottom: 1em;
        transition: all .12s ease-in-out;
      }
      .availability--on:hover {box-shadow: inset 0 -3px 0 0 $online};
      .availability--off:hover {box-shadow: inset 0 -3px 0 0 $offline};
      .availability--all:hover {box-shadow: inset 0 -3px 0 0 $all};
  }
}
