/*--- VARIABLES AND MIXINS ---*/
$background: #2D2E40;
$section: #3D3D55;
$online: #96C93D;
$offline: #E74548;
$all: #FAE840;
$white: #FDFDFD;
$radius: 0.25em;
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}
/*----------------------------*/

* {
  box-sizing: border-box;
  font-family: Comfortaa, Helvetica, sans-serif;
  text-decoration: none !important;
}
html {overflow-y: scroll;}
body {
  background: $background !important;
  background-image: url("../image/play.png") !important;
  background-repeat: repeat;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.section {
  background-color: $section;
  border-radius: $radius;
  @include box-shadow(0 1px 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1));
  margin: 1em;
  padding: 0 0.7em !important;
  .header__main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .header__logo {
      color: $white;
      display: block;
      flex-grow: 0;
      font-size: 40px;
      height: 30px;
      margin: 0.25em 0.45em 0 0.2em;
    }
    .header__input {
      background: #454662;
      border: none;
      border-radius: $radius;
      color: $white;
      display: block;
      flex-grow: 2;
      font-size: 15px;
      height: 40px;
      margin: .5em 0;
      outline: 0;
      padding: 0 0.8em;
    }
    .header__search-icon {
      color: $white;
      right: 15px;
      top: 18px;
      position: absolute;
    }
  }
  .availability {
    display: flex;
    margin-top: 0.5em;
    padding: 0;
      .availability__btn {
        background: none;
        border: none;
        color: $white;
        flex: 1 0 1em;
        height: 2em;
        padding-bottom: 1em;
        transition: all .12s ease-in-out;
        cursor: pointer;
      }
      .availability__btn--on:hover, .active-on-btn {box-shadow: inset 0 -3px 0 0 $online}
      .availability__btn--off:hover, .active-off-btn {box-shadow: inset 0 -3px 0 0 $offline}
      .availability__btn--all:hover, .active-all-btn {box-shadow: inset 0 -3px 0 0 $all}
      .availability__btn--on:focus, .availability__btn--off:focus, .availability__btn--all:focus {outline: 0;}
  }
}

.main {
  padding: 0.4em 0.4em !important;
  .user{
      background: $white;
      border-radius: $radius;
      display: flex;
      margin: 0.5em;
      padding: 0.6em;
      position: relative;
      .user__avatar {
        flex-grow: 0;
        max-height: 80px;
        max-width: 80px;
      }
      .user__card {
        flex-grow: 2;
        padding: 1em 0 0 1em;
      }
      .user__availability {
        position: absolute;
        flex-grow: 1;
        right: 1em;
        top: 1em;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      .user__availability--on {
        background: $online;
        box-shadow: 0px 0 10px rgba(150, 201, 61, 0.5);
      }
      .user__availability--off {
        background: $offline;
        box-shadow: 0px 0 10px rgba(231, 69, 72, 0.5);
      }
    }
  }

  .hidden {display: none !important;}
